{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-arrow-functions",
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "removeAttrs": {
                "attrs": "(data-name)"
              }
            },
            {
              "cleanupIDs": true
            },
            {
              "removeTitle": true
            }
          ]
        }
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.0.0",
        "targets": {
          "esmodules": true
        }
      }
    ],
      "@babel/preset-react"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  }
}