/**
 * @author Razvan Rauta
 * 08.12.2019
 * 21:13
 */

.errorContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

  .errorMsg {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

    code {
      color: red;
      font-family: monospace;
    }
  }

}