/**
 * @author Razvan Rauta
 * 14.12.2019
 * 23:00
 */
.signIn {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 420px) {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 2px dotted #4a4a4a;
    .buttons {
      flex-flow: column;
      button{
        margin: 10px;
      }
    }
  }
}