/**
 * @author Razvan Rauta
 * 14.12.2019
 * 17:32
 */

.collectionPreview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: bold;
    cursor: pointer;
  }

  .preview {
    display: flex;
    justify-content: space-between;

    @media (max-width: 420px) {
      flex-flow: column;
      width: 100%;
    }
  }
}
