/**
 * @author Razvan Rauta
 * 19.12.2019
 * 19:36
 */

.signUp {
  display: flex;
  flex-flow: column;
  width: 380px;

  .title {
    margin: 10px 0;
  }
  @media (max-width: 420px) {
    width: 100%;
    button {
      width: 280px;
      margin: 10px auto;
    }
  }
}